[alias]
    graph=log --oneline --graph --all --decorate=full
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	email = furatsuki_fiskm@yahoo.co.jp
	name = worldcreate
[core]
    editor=vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
